{% extends "base.html" %}

{% block title %}Registration{% endblock %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="flash {{ category }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<style>
    .auth-wrapper {
        min-height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f4f6f9;
    }

    .form_container {
        background: white;
        padding: 30px 39px;
        width: 350px;
        border-radius: 10px;
        box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    }

    .form_container h1 {
        text-align: center;
        margin-bottom: 20px;
        color: #333;
    }

    .form_container label {
        display: block;
        margin-bottom: 6px;
        font-size: 14px;
        color: #555;
    }

    .form_container input {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ddd;
        border-radius: 6px;
        font-size: 14px;
        box-sizing: border-box;
    }

    .form_container input:focus {
        outline: none;
        border-color: #28a745;
    }

    .form_container button {
        width: 100%;
        padding: 10px;
        background-color: #28a1a7;
        color: white;
        border: none;
        border-radius: 6px;
        font-size: 15px;
        cursor: pointer;
    }

    .form_container button:hover {
        background-color: #214588;
    }

    .flash {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-weight: bold;
    }

    .flash.error {
        background-color: #ffe5e5;
        color: #cc0000;
        border: 1px solid #cc0000;
    }

    .flash.success {
        background-color: #e6ffe6;
        color: #008000;
        border: 1px solid #008000;
    }
</style>

<div class="auth-wrapper">
    <div class="form_container">
        <h1>login</h1>

        <form method="POST" action="/login">

            <label>Email</label>
            <input type="email" name="email" placeholder="Enter your email" required>

            <label>Password</label>
            <input type="password" name="password" placeholder="Enter your password" required>

            <button type="submit">SUBMIT</button>
        </form>
    </div>
</div>

{% endblock %}